.foto{
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.foto img{
    text-align: center;
    max-width: 30%;
}

.nuevo{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding-bottom: 1.2rem;
    padding-left: 1rem;
}

.nuevo label{
    margin-top: 0.3rem;
}

input{
    border: 1px solid rgb(75, 75, 75);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}