.log h2{
    justify-content: flex-start;
}

.evento{
    margin: 0.5rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 20% 80%;
}

.eventos .evento:nth-child(even){
    background-color: #2875703f;
}