.nueva-incidencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.nueva-incidencia form{
    padding: 10px;
}
.nueva-incidencia div{
    margin-bottom: 1rem;
}

#comentario{
    width: 100%;
}

.desc textarea{
    width: 80%;
}

.desc label{
    vertical-align: top;
}