.nueva-incidencia{
    text-align: center;
}

.nueva-incidencia div{
    display: grid;
    grid-template-columns: 20% 80%;
}

.nueva-incidencia label{
    text-align: right;
    margin-right: 1rem;
}

.nueva-incidencia form{
    padding: 10px;
}
.nueva-incidencia div{
    margin-bottom: 1rem;
}

#comentario{
    width: 100%;
}

.desc textarea{
    width: 100%;
}

.desc label{
    vertical-align: top;
}

.nueva-incidencia input, textarea{
    max-width: 80%;
}