/*
Paleta 3
    1->292F36 rgb(41, 47, 54)
    2->4ECDC4 rgb(78, 205, 196)
    3->F7FFF7
Paleta usada: 3
*/

*{
    margin: 0;
    padding: 0;
}

*::selection{
    background-color: #4ecdc570;
}

/************ INPUT *************/

input{
    accent-color: #4ECDC4;
    border: 1px solid rgb(75, 75, 75);
    background-color: #4ecdc570;
    color: #F7FFF7;
    border-radius: 0.2rem;
}

input::placeholder{
    color: white;
}

input:hover{
    cursor: text;
}

input[type="radio"]:hover, [type="file"]:hover, [type="checkbox"]:hover, [type="submit"]:hover{
    cursor: pointer;
}


input[type="submit"], [type="file"]{
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: #292F36;
    color: #F7FFF7;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover, [type="file"]:hover{
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: #4ecdc570;
}

input:focus{
    background-color: #292F36;
    transition: background-color 0.3s ease-in-out;
}

/************ INPUT *************/

select{
    background-color: #292F36;
    color: #F7FFF7;
    border: none;
}

select{
    border: 1px solid #4ECDC4;
    padding: 5px;
    border-radius: 0.2rem;
}

select:focus{
    border: 1px solid #4ECDC4;
}

select:hover{
    cursor: pointer;
}

select option{
    font-weight: bold;
}


h1, h2{
    color: #F7FFF7;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: auto;
}

h2{
    border-top: 1px solid #4ECDC4;
    border-bottom: 1px solid #4ECDC4;
    padding: 10px;
}

.formBusqueda > h2{
    background-color: #4ecdc570;
}

p, label{
    color: #F7FFF7;
}

body{
    background-color: #292F36;
    /*background: rgb(41,47,54);
    background: radial-gradient(circle, rgba(41,47,54,1) 0%, rgba(63,89,120,1) 37%, rgba(41,47,54,1) 71%);*/
}

header{
    background-color: #292F36;
}

nav{
    margin: 1rem 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(78, 205, 196, 0.5);
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    display: inline;
    padding: 0.5rem;
}

a{
    box-sizing:content-box;
    text-decoration: none;
    color: #F7FFF7;
    border-bottom: 2px solid rgba(78, 205, 196, 0);
    transition: border 0.3s ease-in-out;
}

a:hover{
    border-bottom: 2px solid rgba(78, 205, 196, 1);
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #4ECDC4;
    margin-top: 2rem;
    padding: 1rem;
}

h3{
    color: #f7f7f7;
    background-color: #2875703f;
    padding: 10px;
}

textarea{
    background-color: #4ecdc570;
    border: #2875703f;
    border-radius: 0.2rem;
    accent-color: #4ECDC4;
    color: #f7f7f7;
}

textarea:focus{
    background-color: #292F36;
    transition: background-color 0.3s ease-in-out;
}

/************ ASIDE *************/

aside{
    box-sizing: border-box;
    padding: 1rem;
    border-left: 1px solid #4ECDC4;
    display: flex;
    flex-direction: column;
    color: #F7FFF7;
    text-align: center;
}

aside p{
    text-align: left;
}

aside form{
    display: inline;
    white-space: nowrap;
}

aside img{
    max-width: 10rem;
}

aside h3{
    padding: 0.8rem;
    border-radius: 5px;
    background-color: #2875703f;
    text-align: left;
}

aside ol li{ 
    display: block;
    text-align: left;
}

.login-aside{
    text-align: left;
    display: block;
}

.login-aside input{
    padding: 0.3rem;
    border-radius: 0.7rem;
    margin-bottom: 10px;
}

.login-aside input:last-of-type{
    padding: 0.5rem;
    border-radius: 0.7rem;
    text-align: center;
    display: block;
    margin-bottom: -10px;
}

.login-aside p{
    margin-bottom: 5px;
}

.quejas, .opiniones{
    margin-top: 1.5rem;
    border: 1px solid #4ECDC4;
    border-radius: 5px;
}

/************ ASIDE *************/

.pageLogo{
    display: inline;
    max-width: 10%;
    max-height: 10%;
    margin-left: 5%;
}

.cabecera{
    display: flex;
}

.contenido{
    border-top: 1px solid #4ECDC4;
    padding-top: 20px;
    margin: 0 1.5rem 0 1.5rem;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
}

#modificarUsuario{
    margin-bottom: -1rem;
    margin-top: 1rem;
}

#gestionUsuario{
    background-color: #2875703f;
    border-radius: 0.5rem 0.5rem 0 0;
}

#mostrarListado input{
    display: none;
}

#mostrarListado label{
    font-weight: normal;
}

#mostrarListado label:hover{
    border-bottom: 2px solid rgba(78, 205, 196, 1);
    transition: border 0.3s ease-in-out;
}