/*
Paleta 3
    1->292F36 rgb(41, 47, 54)
    2->4ECDC4 rgb(78, 205, 196)
    3->F7FFF7
Paleta usada: 3
*/

*{
    margin: 0;
    padding: 0;
}

*::selection{
    background-color: #4ecdc570;
}

input{
    accent-color: #4ECDC4;
    border: 1px solid rgb(75, 75, 75);
    background-color: #4ecdc570;
    color: #F7FFF7;
    border-radius: 0.2rem;
}

input::placeholder{
    color: white;
}

input:hover{
    cursor: text;
}

input[type="submit"]:hover{
    cursor: pointer;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}

input[type="radio"]:hover{
    cursor: pointer;
}

input[type="submit"]{
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: #292F36;
    color: #F7FFF7;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover{
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: #4ecdc570;
}

select{
    background-color: #292F36;
    color: #F7FFF7;
    border: none;
}

select:focus{
    border: 1px solid #4ECDC4;
}

select:hover{
    cursor: pointer;
}

select option{
    font-weight: bold;
}


h1, h2{
    color: #F7FFF7;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: auto;
}

h2{
    border-top: 1px solid #4ECDC4;
    border-bottom: 1px solid #4ECDC4;
    padding: 10px;
}

p, label{
    color: #F7FFF7;
}

body{
    background-color: #292F36;
}

header{
    background-color: #292F36;
}

nav{
    margin: 1rem 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(78, 205, 196, 0.5);
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    display: inline;
    padding: 0.5rem;
}

a{
    box-sizing:content-box;
    text-decoration: none;
    color: #F7FFF7;
    border-bottom: 2px solid rgba(78, 205, 196, 0);
    transition: border 0.3s ease-in-out;
}

a:hover{
    border-bottom: 2px solid rgba(78, 205, 196, 1);

}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #4ECDC4;
    margin-top: 2rem;
    padding: 1rem;
}

/************ ASIDE *************/

aside{
    box-sizing: border-box;
    padding: 1rem;
    border-left: 1px solid #4ECDC4;
}

/************ ASIDE *************/

.pageLogo{
    display: inline;
    max-width: 10%;
    max-height: 10%;
    margin-left: 5%;
}

.cabecera{
    display: flex;
}

.contenido{
    border-top: 1px solid #4ECDC4;
    padding-top: 20px;
    margin: 0 1.5rem 0 1.5rem;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
}

select{
    border: 1px solid #4ECDC4;
    padding: 5px;
    border-radius: 0.2rem;
}