/*
Paletas de colores
Paleta 1
    1->333333
    2->48E5C2
    3->FCFAF9

Paleta 2
    1->022B3A
    2->1F7A8C
    3->BFDBF7

Paleta 3
    1->292F36
    2->4ECDC4
    3->F7FFF7

Paleta usada: 3
*/

*{
    margin: 0;
    padding: 0;
}

h1, h2{
    color: #F7FFF7;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: auto;
}

h2{
    border-top: 1px solid #4ECDC4;
    border-bottom: 1px solid #4ECDC4;
    padding: 10px;
}

p{
    color: #F7FFF7;
}

body{
    background-color: #292F36;
}

header{
    background-color: #292F36;
}

nav{
    border: 1px solid #4ECDC4;
    margin: 1rem 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    display: inline;
    justify-content: space-between;
    background-color: #292F36;
    padding: 0.5rem;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: #F7FFF7;
    
}

a:hover{
    border-bottom: 2px solid #4ECDC4;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #4ECDC4;
    margin-top: 2%;
}

.pageLogo{
    display: inline;
    max-width: 10%;
    max-height: 10%;
    margin-left: 5%;
}

.cabecera{
    display: flex;
}

.contenido{
    border-top: 1px solid #4ECDC4;
    padding-top: 10px;
}